
{
 :greenpunk {
             :background :black
             :lines {
               :standard  {:line :green :fill :darkgreen}
               :near      {:line :lime :fill :green}
               :alternate {:line :cyan :fill :blue}
               :highlight {:line :magenta :fill :purple}
               :alert     {:line :magenta :fill :purple}
               :warning   {:line :yellow :fill :orange}
               }
             :gradients {
               :standard ["#00ff88" "#88ff00"]
               :warning-safe  [:yellow :green]
               :hot-cold [:magenta :cyan]
               :new-old [:lime :gray]
               }
             }
 :grayscale {
             :background :black
             :standard {:line :white :fill :gray}

             }
 }
