
{
 :greenpunk {
             :background :black
             :lines {
               :standard  {:line :green :fill :darkgreen}
               :near      {:line :lime :fill :green}
               :alternate {:line "#463cff" :fill :blue}
               :highlight {:line "#966efa" :fill :purple} 
               :alert     {:line "#966efa" :fill :purple}
               :warning   {:line :yellow :fill :orange}  
               }
             :gradients {
               :standard ["#00ff88" "#88ff00"]
               :warning-safe  [:yellow :green]
               :hot-cold [:magenta :cyan]
               :new-old [:lime :gray]
               }
             }
 :grayscale {
             :background :black
             :standard {:line :white :fill :gray}

             }
 }
;(apply str (map #(Integer/toString % 16) [70 60 255] ))
